{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container">
    <form method="post">
        {% if error %}
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        {% if errorMessage %}
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p><strong>Erreur :</strong> {{errorMessage}}</p>
            </div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté sous le pseudo {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
        {% endif %}

        <h1>Connectez-vous !</h1>
        <div class="form-group">
            <label for="inputUsername">Nom d'utilisateur</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
        </div>
        <div class="form-group">
            <label for="inputPassword">Mot de Passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
        </div>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
        </div>

        <div class="d-flex w-50 mx-auto justify-content-around">
            <button class="btn btn-primary" type="submit">
                Se connecter
            </button>
            <a type="button" href="{{ path('app_register') }}" class="btn btn-primary">S'inscrire</a>
        </div>
        
    </form>
</div>
{% endblock %}
